.topContainer {
  display: flex;
  justify-content: center;
}
.box {
  height: 75vh;
  width: 55vw;
  margin: 10px;
  border-radius: 5px;
  color: black;
  text-align: center;
}
li {
  list-style: none;
  box-shadow: 1.5px 1.5px 1.5px 1.5px #808080;
  margin: 10px;
  font-size: 20px;
  border-radius: 5px;
}
.bigContainer {
  display: flex;
  justify-content: center;
}

.houseBox {
  height: 15vh;
  width: 30vw;
  background-color: gray;
  margin: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
  box-shadow: 2px 2px 2px 2px wheat;
  margin-top: 100px;
}
span {
  font-size: 2rem;
}
.housePoint {
  height: 15vh;
  width: 30vw;
  background-color: gray;
  margin: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
  box-shadow: 2px 2px 2px 2px wheat;
}

.a {
  display: flex;
  justify-content: center;
  gap: 3vh;
  margin-left: 4vh;
  margin-top: 2vh;
}
.b {
  display: flex;
  justify-content: center;
  gap: 5vh;
  margin-left: 5vh;
  margin-top: 2vh;
}
.c {
  display: flex;
  justify-content: center;
  gap: 5vh;
  margin-left: 5vh;
  margin-top: 2vh;
}
table {
  gap: 20px;
  height: auto;
  width: 30vw;
}
.tableContainer{
    text-align: center;
}
section{
    margin-top:-10vh ;
}
.campuseName{
    background-color: gray;
    color: white;
    border: none;
}

a:hover{
  color: #79aef2;
}